footer
    div.container
        img.footer__logo(src="/source/logo/logo.png")
        section.footer__subscribe
            h3 Подписывайтесь на нашу россылку
            form
                input(type="email" placeholder="Введите ваш e-mail" required)
                input(type="submit" value="Отпправить")
        section.footer__social
            h3 Мы в соц сетях
            div.social__btn-container
                a.social__btn(href="#" target="_blank")
                    i.fa.fa-facebook
                a.social__btn(href="#" target="_blank")
                    i.fa.fa-twitter
                a.social__btn(href="#" target="_blank")
                    i.fa.fa-instagram
                a.social__btn(href="#" target="_blank")
                    i.fa.fa-tripadvisor
        div.footer__copyright
            i.fa.fa-copyright
            span 2018 Go Away Travel Company


