header
    nav.container
        a.logo(href="#")
            img(src="../img/logo/logo.png" width="225" height="65")
        ul.nav
            li: a(href="#") Главная
            li: a(href="#") Туры
                ul.sub-menu
                    li.sub-menu__item
                        a(href="#") Горячие туры
                    li.sub-menu__item
                        a(href="#") Популярные направления
                    li.sub-menu__item
                        a(href="#") Все туры
            li: a(href="#") Услуги
                ul.sub-menu
                    li.sub-menu__item
                        a(href="#") Визы
                    li.sub-menu__item
                        a(href="#") Страховки
                    li.sub-menu__item
                        a(href="#") Билет в один конец
                    li.sub-menu__item
                        a(href="#") Все услуги
            li: a(href="#") Контакты
            li: a(href="#") Отзывы
        div.callback
            button.callback__btn.modal Заказать звонок

