section.container.video
    div.video__container
        video(autoplay loop muted)
            source( src="../img/bg-short.mp4" type="video/mp4")
    h1.video__tagline Go Away
    p.video__description FIND YOURSELF AT SEA

