header
    nav.container
        span.logo
            img(src="/source/logo/logo.png" width="250" height="65")
        ul.nav
            li: a(href="#") Главная
            li: a(href="#") Тур оператор
            li: a(href="#") Авиакасы
            li: a(href="#") Услуги
            li: a(href="#") Контакты
            li: a(href="#") Отзывы

