section.fishing
    h2.fishing__title
        span.fishing__title-mark Ексклюзивное предложение
        span Рыбалка на Карибских островах'
    div.fishing__description
        p Наш частный остров-курорт расположен недалеко от побережья Белиза, всего в 30 милях от всемирно известной Большой Голубой дыры. Проводите свои дни с помощью плавников или удочки в руке и живите жизнью отчужденной.

